@{
    ViewBag.Pagetitle = "Details";
}
<section>
    <h1>Kursinfo - @Model!.courseName @Model.Model</h1>
    <div>
        <p>Kurstitle - @Model.courseTitle</p>
        <p>Kursnummer - @Model.courseNumber</p>
        <p>Kursstart - @Model.courseStart</p>
        <p>Kurslängd - @Model.courseLenght</p>
    </div>
    <a asp-action="Index">Tillbaka</a>
</section>
