@model IList<WestCoastEducation.web.ViewModels.CourseListViewModel>

@{
    ViewBag.Pagetitle = "Courses";
}

<section>
    <div>
        <h1>Kurslista</h1>
        <p>Här skulle det kunna ligga en lista av alla kurser med länkar till mer info
            istället för en tabell.<br>
            Men när det inte finns något mer kopplat till kurserna än den info som är nu,
            så verkar det onödigt.
        </p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Kurs</th>
                        <th>Kurs Nr</th>
                        <th>Kurstitel</th>
                        <th>Kursstart</th>
                        <th>Kurslängd</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                        <tr>
                            <td><a asp-action="details" asp-route-courseName="@course.CourseName">
                                    @course.CourseName
                                </a></td>
                            <td>@course.CourseNumber</td>
                            <td>@course.CourseTitle</td>
                            <td>@course.CourseStart</td>
                            <td>@course.CourseLenght Veckor</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
