@model IList<WestCoastEducation.web.ViewModels.UserListViewModel>
@{
    Layout = "_LayoutAdmin";
    ViewBag.Pagetitle = "Users Admin";
}
<section>
    <div class="table-container">
        <h1 class="table-h1">Användare</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Användarnamn</th>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Konto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <a class="icon" asp-action="Edit" asp-controller=UsersAdmin asp-route-UserId="@user.UserId">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Phone</td>
                        <td>@user.Email</td>
                        <td>@user.TypeOfUser</td>
                        <td>
                            <a class="icon" asp-action="Delete" asp-controller=UsersAdmin asp-route-UserId="@user.UserId">
                                <i class="fa-solid fa-delete-left"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a class="btn-table" asp-action=create asp-controller="UsersAdmin">Lägg till användare</a>
        </div>
    </div>
</section>
