@model IList<WestCoastEducation.web.ViewModels.UserListViewModel>

@{
    ViewBag.Pagetitle = "Users";
}

<section>
    <div>
        <h1>Användarlista</h1>
        <p>Här skulle det kunna ligga en lista av alla användare med länkar till mer info
            istället för en tabell.<br>
            Men när det inte finns något mer kopplat till användarna än den info som är nu,
            så verkar det onödigt.
        </p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Användarnamn</th>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th>Konto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td><a asp-action="details" asp-route-userName="@user.UserName">
                                    @user.UserName
                                </a></td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Phone</td>
                            <td>@user.Email</td>
                            <td>@user.TypeOfUser</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
